<!DOCTYPE html>
<html lang="pt-BR"
      xmlns="http://www.w3.org.1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="MasterLayout">

<section layout:fragment="Conteudo">
    <div id="page-wrapper">
        <div class="container container-fluid" style="margin-top: 30px;">

            <h1>Formulário de Cadastros</h1>

            <form action="#" method="post" th:action="@{/minha-conta/cadastrar}">

                <div class="form-group row ">
                    <label class="col-sm-2 col-form-label">Nome</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" name="email" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Senha</label>
                    <div class="col-sm-10">
                        <input type="password" name="password" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Tipo</label>
                    <div class="col-sm-10">
                        <input type="radio" id="student-radio" name="type" value="student">
                            <label for="student-radio"> Aluno</label>
                        </input>
                        <input type="radio" id="professor-radio" name="type" value="professor">
                            <label for="professor-radio"> Professor</label>
                        </input>
                    </div>
                </div>

                <span id="specific-form">

                </span>

                <button type="submit" class="btn btn-primary">Enviar</button>

            </form>

            <span id="student-form" class="hidden">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Matrícula</label>
                    <div class="col-sm-10">
                        <input type="text" name="enrollment"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">CR</label>
                    <div class="col-sm-10">
                        <input type="text" name="grade" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Curso</label>
                    <div class="col-sm-10">
                        <select name="course">
                            <option th:value="NULL" th:text="'- Selecione -'"></option>
                            <option th:each="course : ${T(br.uff.util.Course).values()}" th:value="${course}" th:text="${course.name}"></option>
                        </select>
                    </div>
                </div>
            </span>

            <span id="professor-form" class="hidden">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">SIAPE</label>
                    <div class="col-sm-10">
                        <input type="text" name="siape" />
                    </div>
                </div>
            </span>
        </div>
    </div>
</section>

</html>