<!DOCTYPE html>
<html lang="pt-BR"
      xmlns="http://www.w3.org.1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="MasterLayout">

<section layout:fragment="Conteudo">
    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Seu projeto</h1>
            </div>
            <!-- /.col-lg-12 -->

            <div class="row">
                <!--<div class="col-lg-4">-->
                <div class="panel panel-default user">
                    <div class="panel-heading" th:inline="text">
                        [[${project.type}]]
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">

                                <div class="form-group">
                                    <label for="name">Nome</label>
                                    <span id="name" th:inline="text">[[${project.name}]]</span>
                                </div>

                                <div class="form-group">
                                    <label for="start">Inicio</label>
                                    <span id="start" th:inline="text">[[${project.start != null ? dt.format(project.start) : 'N/D'}]]</span>
                                </div>

                                <div class="form-group">
                                    <label for="due">Prazo</label>
                                    <span id="due" value="project.due" th:inline="text">[[${project.due != null ? dt.format(project.due) : 'N/D'}]]</span>
                                </div>

                                <div class="form-group">
                                    <label for="description">Atividade</label>
                                    <span id="description" th:inline="text">[[${project.name}]]</span>
                                </div>

                                <div class="form-group">
                                    <label for="professor">Orientador</label>
                                    <span id="professor" th:inline="text">[[${project.professor.name}]]</span>
                                </div>

                                <div class="form-group">
                                    <label for="graduationType">Curso</label>
                                    <span id="graduationType" th:inline="text">[[${project.type.getName()}]]</span>
                                </div>

                                <div>
                                    <label>Orientado</label>
                                    <span th:inline="text">[[${project.student1.getName()}]]</span>
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Data</th>
                                            <th>Atividade</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr th:each="schedule : ${project.scheduleSet}">
                                            <td th:text="${schedule.id}"></td>
                                            <td th:text="${schedule.date}"></td>
                                            <td th:text="${schedule.activity}"></td>
                                            <td th:text="${schedule.status != null ? 'Concluído' : 'Pendente'}"></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>

                                <div>
                                    <a th:href="@{'/cronograma/' + ${project.id} + '/novo-cronograma'}">
                                        <button type="submit" class="btn btn-lg btn-primary btn-block" value="Entrar">
                                            Cadastrar novo cronograma
                                        </button>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>
</section>
</html>